:root {
  --accent-color: #2196f3;
  --color-fonts-dark-background: #fff;
  --color-background: #2f303a;
  --color-link-visited: #900060;
  --first-color-fonts: #212121;
  --second-color-fonts: #757575;
  --color-background-secton-team: #f5f4fa;
  --card-indent: 30px;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--first-color-fonts);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.address {
  font-style: normal;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header .container {
  display: flex;
  align-items: center;
}

.contact {
  margin: 0 auto;
  background-color: var(--color-background);
  padding-top: 60px;
  padding-bottom: 60px;
}

.contact .container {
  display: flex;
  align-items: center;
  align-items: baseline;
}

.header {
  border-bottom: 1px solid #ececec;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  display: block;
  padding: 24px 0;
  color: var(--first-color-fonts);
  margin-right: 93px;
}

.logo_contakt {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--color-fonts-dark-background);
  margin-bottom: 20px;
}

.logo__accent {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.navigation {
  display: flex;
  align-items: center;
}

.menu__item:not(:last-child) {
  margin-right: 52px;
}

.menu__link {
  position: relative;
  font-weight: 500;
  display: block;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  padding: 32px 0;
  color: var(--first-color-fonts);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__link:hover, .menu__link:focus {
  color: var(--accent-color);
}

.suptitle::after {
  position: absolute;
  content: '';
  display: inline-block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  left: 0;
  bottom: 0;
}

.current {
  color: var(--accent-color);
}

.menu,
.mail-tel {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.mail-tel__item:not(:last-child) {
  margin-right: 52px;
}

.mail-tel__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--second-color-fonts);
  fill: var(--second-color-fonts);
  padding: 32px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-tel__link:hover, .mail-tel__link:focus {
  fill: var(--accent-color);
  color: var(--accent-color);
}

.icone-envelope,
.icone-vector {
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero {
  background-color: var(--color-background);
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero__title {
  letter-spacing: 0.06em;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-fonts-dark-background);
  margin-bottom: 30px;
  padding-left: 252px;
  padding-right: 252px;
}

.hero__button {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.06em;
  min-width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-width: 0px;
  border-color: var(--accent-color);
  border-radius: 4px;
  color: var(--color-fonts-dark-background);
  background-color: var(--accent-color);
  cursor: pointer;
  margin: 0px auto;
}

.about {
  padding-top: 94px;
  padding-bottom: 47px;
}

.about-list {
  display: flex;
  margin-left: calc(-1 * var(--card-indent));
  margin-top: calc(-1 * var(--card-indent));
}

.about-item {
  margin-left: var(--card-indent);
  margin-top: var(--card-indent);
  flex-basis: calc(100% / 4 - var(--card-indent));
}

.about-item__icon {
  width: 70px;
  height: 70px;
}

.about-item__desicion {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.about-item__works {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-color-fonts);
}

.about-background {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: var(--card-indent);
}

.work {
  padding-top: 47px;
  padding-bottom: 90px;
}

.work-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.work-list {
  display: flex;
  margin-left: calc(-1 * var(--card-indent));
  margin-top: calc(-1 * var(--card-indent));
}

.work-list__item {
  position: relative;
  margin-left: var(--card-indent);
  margin-top: var(--card-indent);
  flex-basis: calc(100% / 3 - var(--card-indent));
}

.work-list__title {
  display: block;
  display: flex;
  width: 100%;
  height: 70px;
  position: absolute;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8));
  left: 0;
  bottom: 0;
}

.team {
  background-color: var(--color-background-secton-team);
  padding-top: 90px;
  padding-bottom: 100px;
}

.team-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.team-list {
  display: flex;
  margin-left: calc(-1 * var(--card-indent));
  margin-top: calc(-1 * var(--card-indent));
}

.team-item {
  margin-left: var(--card-indent);
  margin-top: var(--card-indent);
  flex-basis: calc(100% / 4 - var(--card-indent));
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.team-item__surname {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team-item__position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-color-fonts);
  margin-bottom: 9px;
}

.card-team {
  background: #ffffff;
  border-radius: 4px;
  padding-top: var(--card-indent);
  padding-bottom: var(--card-indent);
  padding-right: 32px;
  padding-left: 32px;
}

.social-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover, .social-list__link:focus {
  background-color: var(--accent-color);
}

.social-list__link:hover .social-list__icon,
.social-list__link:hover .social-list__icon, .social-list__link:focus .social-list__icon,
.social-list__link:focus .social-list__icon {
  fill: var(--color-fonts-dark-background);
}

.social-list__link .social-list__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__icon {
  width: 20px;
  height: 20px;
}

.contact-social__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact-social__list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  fill: var(--color-fonts-dark-background);
  box-shadow: 0px 4px 4px black;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-social__list-link:hover, .contact-social__list-link:focus {
  background-color: var(--accent-color);
  outline: none;
}

.contact-social__list-link:hover .contact-social__list-icon,
.contact-social__list-link:hover .contact-social__list-icon, .contact-social__list-link:focus .contact-social__list-icon,
.contact-social__list-link:focus .contact-social__list-icon {
  fill: var(--color-fonts-dark-background);
  outline: none;
}

.contact-social__list-icon {
  width: 20px;
  height: 20px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-color-fonts);
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  align-items: center;
  margin-left: calc(-1 * var(--card-indent));
  margin-top: calc(-1 * var(--card-indent));
}

.clients-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: var(--card-indent);
  margin-top: var(--card-indent);
  flex-basis: calc(100% / 6 - var(--card-indent));
  min-width: 170px;
  min-height: 90px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list__link:hover, .clients-list__link:focus {
  border: 1px solid var(--accent-color);
  fill: var(--accent-color);
}

.contact-list__link-address {
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: var(--color-fonts-dark-background);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-list__link-address:hover, .contact-list__link-address:focus {
  color: var(--accent-color);
}

.contact-list__link {
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: var(--second-color-fonts);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-list__link:hover, .contact-list__link:focus {
  color: var(--accent-color);
}

.contact-social {
  width: 206px;
  height: 80px;
  margin-left: 70px;
}

.contact-social__head {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-fonts-dark-background);
  margin-bottom: 20px;
}

.contact-form {
  margin-left: auto;
}

.contact-form__headinng {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-fonts-dark-background);
}

.contact-form__email-contact-input {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  color: var(--color-fonts-dark-background);
  border-radius: 4px;
  outline: none;
  margin-top: 20px;
  margin-right: 12px;
  padding: 15px;
  width: 360px;
  height: 50px;
  background-color: var(--color-background);
}

.contact-form__button {
  display: inline-flex;
  text-align: center;
  align-items: center;
  height: 50px;
  width: 200px;
  border: 1px;
  background-color: var(--accent-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  border-radius: 4px;
  border-color: var(--accent-color);
  font-size: 16px;
  line-height: 1.87;
  padding-left: 28px;
  padding-top: 10px;
  padding-right: 28px;
  padding-bottom: 10px;
  align-items: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
}

.contact-form__icone-send {
  margin-left: 10px;
}

.galery {
  padding-top: 94px;
  padding-bottom: 94px;
}

.galery__head-list {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-bottom: 50px;
}

.galery__head-item:not(:last-child) {
  margin-right: 8px;
}

.galery__head-bytton {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  align-items: center;
  min-width: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 22px;
  padding-right: 22px;
  border-color: var(--color-fonts-dark-background);
  border-width: 0px;
  background: var(--color-background-secton-team);
  border-radius: 4px;
  letter-spacing: 0.03em;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.galery__head-bytton:hover, .galery__head-bytton:focus {
  color: var(--color-fonts-dark-background);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.currently {
  color: var(--color-fonts-dark-background);
  background-color: var(--accent-color);
}

.galery-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--card-indent));
  margin-left: calc(-1 * var(--card-indent));
}

.galery-list__item {
  margin-top: var(--card-indent);
  margin-left: var(--card-indent);
  flex-basis: calc(100% / 3 - var(--card-indent));
}

.galery-list__href-card {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.galery-list__href-card:hover, .galery-list__href-card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.galery-list__card {
  background-color: #fff;
  padding: 20px 24px 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.galery-list__name {
  color: var(--first-color-fonts);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}

.galery-list__section {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--second-color-fonts);
}

.overlay {
  position: relative;
  overflow: hidden;
}

.overlay__text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  font-family: Roboto;
  padding: 20px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(110%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.galery-list__href-card:hover .overlay__text,
.galery-list__href-card:focus .overlay__text {
  transform: translateY(0%);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), pointer-events 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  width: 528px;
  height: 581px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  padding: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-button:hover, .modal__close-button:focus {
  color: var(--accent-color);
}

.modal__close-button-icon {
  width: 18px;
  height: 18px;
  fill: currentColor;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form__headding {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: var(--first-color-fonts);
}

.modal-form__field {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--second-color-fonts);
}

.modal-form__input-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.modal-form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form__icon {
  display: block;
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:focus + .modal-form__icon {
  fill: var(--accent-color);
}

.modal-form__message {
  display: block;
  margin-top: 4px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__message::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-form__message:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form__check-desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-color-fonts);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-form__check-desc::before {
  display: block;
  content: '';
  width: 16px;
  height: 15px;
  border: 2px solid var(--first-color-fonts);
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
}

.modal-form__term:checked + .modal-form__check-desc::before {
  background-color: var(--accent-color);
  background-image: url("../images/icone_check.png");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}

.modal-form__term:focus + .modal-form__check-desc::before {
  border: 2px solid var(--accent-color);
}

.modal-form__check-desc-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: var(--accent-color);
}

.modal-form__btn {
  min-width: 200px;
  padding: 12px 20px;
  margin-top: 30px;
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  align-self: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.87;
  cursor: pointer;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #ffffff;
}

.modal-form__btn:hover, .modal-form__btn:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}
/*# sourceMappingURL=main.css.map */