.about {
  padding-top: 60px;
  padding-bottom: 60px;

  &-list {
    display: block;
    width: 450px;
  }
  &-item {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
    &__icon {
      width: 70px;
      height: 70px;
    }
    &__desicion {
      font-weight: bold;
      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      margin-bottom: 10px;
    }
    &__works {
      font-size: 14px;
      line-height: 1.71;
      max-width: 450px;
      letter-spacing: 0.03em;
      color: var(--second-color-fonts);
    }
  }
  &-background {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 450px;
    height: 120px;
    background: #f5f4fa;
    border-radius: 4px;
    margin-bottom: var(--card-indent);
  }
}
@media screen and (min-width: 768px) {
  .about {
    padding-top: 60px;
    padding-bottom: 60px;
    &-list {
      width: 354px;
      display: flex;
      margin-left: calc(-1 * var(--card-indent));
      margin-top: calc(-1 * var(--card-indent));
    }
    &-item {
      flex-wrap: wrap;
      margin-left: var(--card-indent);
      margin-top: var(--card-indent);
      flex-basis: calc(100% / 2 - var(--card-indent));
      &__icon {
        width: 70px;
        height: 70px;
      }
      &__desicion {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-bottom: 10px;
      }
      &__works {
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: var(--second-color-fonts);
      }
    }
    &-background {
      display: flex;
      width: 354px;
      height: 120px;
      background: #f5f4fa;
      border-radius: 4px;
      margin-bottom: var(--card-indent);
    }
  }
}
/*
.about {
  padding-top: 94px;
  padding-bottom: 47px;
  &-list {
    display: flex;
    margin-left: calc(-1 * var(--card-indent));
    margin-top: calc(-1 * var(--card-indent));
  }
  &-item {
    margin-left: var(--card-indent);
    margin-top: var(--card-indent);
    flex-basis: calc(100% / 4 - var(--card-indent));
    &__icon {
      width: 70px;
      height: 70px;
    }
    &__desicion {
      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      margin-bottom: 10px;
    }
    &__works {
      font-size: 14px;
      line-height: 1.71;
      letter-spacing: 0.03em;
      color: var(--second-color-fonts);
    }
  }
  &-background {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    background: #f5f4fa;
    border-radius: 4px;
    margin-bottom: var(--card-indent);
  }
}
}
*/
