.about {
  padding-top: 60px;
  padding-bottom: 60px;
  &-list {
    margin-left: calc(-1 * var(--card-indent));
    margin-top: calc(-1 * var(--card-indent));
  }
  &-item {
    margin-left: var(--card-indent);
    margin-top: var(--card-indent);
    flex-basis: calc(100% / 4 - var(--card-indent));
    &__icon {
      width: 70px;
      height: 70px;
    }
    &__desicion {
      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.03em;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 10px;
    }
    &__works {
      font-size: 14px;
      line-height: 1.71;
      letter-spacing: 0.03em;
      color: var(--second-color-fonts);
    }
  }
  &-background {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120px;
    background: #f5f4fa;
    border-radius: 4px;
    margin-bottom: var(--card-indent);
  }
}

@media screen and (min-width: 768px) {
  .about {
    &-list {
      display: flex;
      flex-wrap: wrap;
    }
    &-item {
      &__desicion {
        text-align: left;
      }
      flex-basis: calc(100% / 2 - var(--card-indent));
    }
  }
}

@media screen and (min-width: 1200px) {
  .about {
    padding-top: 94px;
    padding-bottom: 47px;
    &-item {
      flex-basis: calc(100% / 4 - var(--card-indent));
    }
  }
}
