.contact {
  background-color: var(--color-background);
  padding-top: 60px;
  padding-bottom: 60px;
}

.contact-list__link-address {
  display: block;
  text-align: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-fonts-dark-background);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.contact-list__link {
  display: block;
  text-align: center;
  font-size: 14px;
  line-height: 1.71;
  margin-top: 8px;
  letter-spacing: 0.03em;
  color: var(--second-color-fonts);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.contact-social {
  margin-left: 0 auto;
  margin-top: 60px;

  &__head {
    display: block;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-fonts-dark-background);
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) {
  .contact-social {
    display: block;
    margin-left: 165px;
  }
}

@media screen and (min-width: 1200px) {
  .contact-social {
    margin-left: 60px;
    &__head {
      display: block;
      text-align: left;
      margin-top: 0px;
    }
  }
  .contact-list__link-address {
    display: block;
    text-align: left;
    font-size: 14px;
    line-height: 2;
  }
  .contact-list__link {
    font-size: 14px;
    line-height: 2;
    text-align: left;
  }
  .contact-social {
    &__head {
      margin-top: 60;
    }
  }
}
