.hero {
  background-color: var(--color-background);
  margin: 0 auto;
  padding-top: 118px;
  padding-bottom: 118px;

  @media screen and (min-width: 480px) {
    max-width: 768px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('./images/bg/mobil-hero1x.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  @media screen and (min-width-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../images/bg/mobil-hero2x.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  @media screen and (min-width: 481px) {
    max-width: 768px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../images/bg/tab-hero1x.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../images/bg/tab-hero2x.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  @media screen and (min-width: 769px) {
    max-width: 1200px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../images/bg/desctop-hero1x.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../images/bg/desctop-hero2x.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &__title {
    letter-spacing: 0.06em;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-fonts-dark-background);
    margin-bottom: 30px;
    padding-left: 45px;
    padding-right: 45px;
  }
  &__button {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    letter-spacing: 0.06em;
    min-width: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 32px;
    padding-right: 32px;
    border-width: 0px;
    border-color: var(--accent-color);
    border-radius: 4px;
    color: var(--color-fonts-dark-background);
    background-color: var(--accent-color);
    cursor: pointer;
    margin: 0px auto;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    max-width: 1200px;
    &__title {
      margin-bottom: 30px;
      padding-left: 189px;
      padding-right: 189px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    &__title {
      font-size: 44px;
      line-height: 1.36;
      padding-left: 252px;
      padding-right: 252px;
    }
  }
}
