.contact-form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__headinng {
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-fonts-dark-background);
  }

  &__email-contact-input {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    color: var(--color-fonts-dark-background);
    border-radius: 4px;
    outline: none;
    margin-top: 20px;
    margin-right: 12px;
    padding: 15px;
    margin-bottom: 20px;
    /*margin-bottom: 20px;*/
    width: 100%;
    height: 50px;
    background-color: var(--color-background);
  }
  &__button {
    display: inline-flex;
    margin: 0 auto;
    padding: 10px 28px 10px 29px;
    align-items: center;
    text-align: center;
    min-width: 200px;
    height: 50px;
    /*justify-content: center;
    text-align: center;
    align-items: center;*/
    border: 1px;
    background-color: var(--accent-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    border-radius: 4px;
    border-color: var(--accent-color);
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: #ffffff;
    cursor: pointer;
  }

  &__icone-send {
    margin-left: 10px;
  }
}

/*.contact-form {
  &__headinng {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-fonts-dark-background);
  }

  &__email-contact-input {
    display: block;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    color: var(--color-fonts-dark-background);
    border-radius: 4px;
    outline: none;
    margin-top: 20px;
    margin-right: 15px;
    padding: 15px;
    width: 100%;
    height: 50px;
    background-color: var(--color-background);
  }
  &__button {
    display: inline-flex;
    text-align: center;
    align-items: center;
    height: 50px;
    width: 200px;
    border: 1px;
    background-color: var(--accent-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    border-radius: 4px;
    border-color: var(--accent-color);
    font-size: 16px;
    line-height: 1.87;
    padding-left: 28px;
    padding-top: 10px;
    padding-right: 28px;
    padding-bottom: 10px;
    margin-top: 20px;
    align-items: center;
    letter-spacing: 0.06em;
    color: #ffffff;
    cursor: pointer;
  }

  &__icone-send {
    margin-left: 10px;
  }
}

/*.contact-form {
  margin-left: auto;
  &__headinng {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-fonts-dark-background);
  }

  &__email-contact-input {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    color: var(--color-fonts-dark-background);
    border-radius: 4px;
    outline: none;
    margin-top: 20px;
    margin-right: 12px;
    padding: 15px;
    width: 360px;
    height: 50px;
    background-color: var(--color-background);
  }
  &__button {
    display: inline-flex;
    text-align: center;
    align-items: center;
    height: 50px;
    width: 200px;
    border: 1px;
    background-color: var(--accent-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    border-radius: 4px;
    border-color: var(--accent-color);
    font-size: 16px;
    line-height: 1.87;
    padding-left: 28px;
    padding-top: 10px;
    padding-right: 28px;
    padding-bottom: 10px;
    align-items: center;
    letter-spacing: 0.06em;
    color: #ffffff;
    cursor: pointer;
  }

  &__icone-send {
    margin-left: 10px;
  }
}
*/
