.menu {
  display: none;
}

.mail-tel {
  display: none;
}

.menu__burger {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
  &-icone {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.mobile-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
  width: 100%;
  visibility: hidden;
  pointer-events: none;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 50%;
  height: 100vh;
  transform: translateX(-50%);
  background-color: var(--color-fonts-dark-background);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &.is-open {
    .current {
      color: var(--accent-color);
    }
    transform: translateX(-50%);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  &__close-button {
    background-color: transparent;
    border: none;
    padding: 0;
    position: absolute;
    top: 10px;
    right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: #ffffff;
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
  &__close-button-icon {
    width: 18px;
    height: 18px;
    fill: currentColor;
  }
  &__item {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
  }
  &__item:not(:last-child) {
    padding-bottom: 32px;
  }
  &__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    color: var(--first-color-fonts);
    text-align: center;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
  &__mail-tel {
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
    &-item:not(:last-child) {
      padding-bottom: 32px;
    }
  }
  &__tel-link {
    font-weight: 500;
    font-size: 28px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
  &__mail-link {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: var(--second-color-fonts);
  }
  &__social-list {
    display: flex;
    text-align: center;
    margin-top: 64px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 20px;
    &-item:not(:last-child) {
      border-right: 1px solid rgba(33, 33, 33, 0.2);
      padding-right: calc(10 * 100vw / 480);
      margin-right: 8px;
    }
    &-link {
      font-weight: 500;
      font-size: 13px;
      line-height: 1.83;
      letter-spacing: 0.02em;
      color: var(--accent-color);
    }
  }
}

@media screen and (min-width: 768px) {
  .menu__burger {
    display: none;
  }

  .mobile-menu {
    display: none;
  }

  .navigation {
    display: flex;
    align-items: center;
  }
  .menu {
    display: flex;
    align-items: center;
    &__item:not(:last-child) {
      margin-right: 50px;
    }
    &__link {
      position: relative;
      display: block;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.02em;
      padding: 32px 0;
      color: var(--first-color-fonts);
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      &:hover,
      &:focus {
        color: var(--accent-color);
      }
    }
  }

  .suptitle::after {
    position: absolute;
    content: '';
    display: inline-block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
    left: 0;
    bottom: 0;
  }

  .current {
    color: var(--accent-color);
  }

  .mail-tel {
    display: block;
    margin-left: auto;
    &__link {
      display: flex;
      align-items: center;
      font-weight: 500;
      font-size: 12px;
      line-height: 1.16;
      letter-spacing: 0.02em;
      color: var(--second-color-fonts);
      fill: var(--second-color-fonts);
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      &:hover,
      &:focus {
        fill: var(--accent-color);
        color: var(--accent-color);
      }
    }
  }

  .icone-envelope,
  .icone-vector {
    margin-right: 10px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (max-width: 1199px) {
  .mail-tel {
    &__link {
      display: flex;
      align-items: center;
      font-weight: 500;
      font-size: 12px;
      line-height: 1.16;
      letter-spacing: 0.02em;
      color: var(--second-color-fonts);
      fill: var(--second-color-fonts);
      transition: colo;
      &:not(:last-child) {
        padding-top: 21px;
      }
      &:not(:first-child) {
        padding-bottom: 21px;
      }
    }
    &__item:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .menu {
    &__item:not(:last-child) {
      margin-right: 52px;
    }
  }

  .menu,
  .mail-tel {
    display: flex;
    align-items: center;
    margin-left: auto;
  }

  .mail-tel {
    &__item {
      padding-top: 32px;
      padding-bottom: 32px;
      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }
  &__link {
    display: flex;
    justify-content: center;
    font-size: 14px;
    line-height: 1.14;
  }
}
