.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  .header & {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    .contact & {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      margin-left: 0 auto;
      align-items: baseline;
    }
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
