:root {
  --accent-color: #2196f3;
  --color-fonts-dark-background: #fff;
  --color-background: #2f303a;
  --color-link-visited: #900060;
  --first-color-fonts: #212121;
  --second-color-fonts: #757575;
  --color-background-secton-team: #f5f4fa;
  --card-indent: 30px;
}
